:host {
  display: contents;
}

.login-page {
  background-color: #fcfcfc;
  padding: 35px 30px;
  position: relative;
  height: 100%;
}

.login-page .pattern {
  position: absolute;
  top: 0;
  right: 0;
}

.login-content {
  display: flex;
  gap: 3rem;
  height: 100%;
}

.advertisement-section {
  flex: 1;
}

.login-section {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
}

.advertisement-container {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  border-radius: 1.2rem;
  overflow: hidden;
}

.advertisement-container .advertisement-content {
  margin: 0 1.5rem 1.5rem;
  width: 100%;
}

.background-image,
.overlay-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recruitment-info {
  position: relative;
  padding: 2rem 2.2rem;
  color: #fff;
  background-color: #BC9B42;
  border-radius: 1.2rem;
}

.recruitment-logo {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.recruitment-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.recruitment-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.recruitment-details .download-section {
  width: 45%;
}

.recruitment-details .custom-border {
  display: block;
  width: 1px;
  /* height: 9.5rem; */
  background-color: #ffffff5e;
}

.download-link {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  gap: 14px;
  color: #fff;
  text-decoration: none;
  font: 400 16px/1.2 'Anek Latin', sans-serif;
}

.download-icon {
  width: 15px;
  height: auto;
}

.date-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.date-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calendar-icon {
  width: 22px;
  height: auto;
}

.date-info {
  font: 300 16px 'Anek Latin', sans-serif;
}

.date {
  font-size: 18px;
  font-weight: 600;
}

.apply-section {
  margin-top: 20px;
  font-family: 'Anek Latin', sans-serif;
  font-weight: 500;
  width: 45%;
}

.apply-text {
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 1.1;
}

.apply-button {
  display: inline-block;
  margin-top: 22px;
  padding: 12px 70px;
  border-radius: 8px;
  background-color: #fff;
  color: #15336c;
  font-size: 24px;
  text-decoration: none;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 17px;
}

.homeguard-logo {
  width: 103px;
  height: auto;
}

.organization-name {
  color: #052361;
  font: 600 36px/48px 'Anek Latin', sans-serif;
}

.additional-logo {
  width: 201px;
  height: auto;
}

.login-form {
  max-width: 500px;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 20px 23px;
  font: 400 18px 'Anek Latin', sans-serif;
  color: #333;
  border: 0;
  border-radius: .375rem;
  background: #EFF1F2;
}

.input-icon {
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.forgot-password {
  display: block;
  text-align: right;
  color: #2957a3;
  font: 500 16px 'Anek Latin', sans-serif;
  margin: 0 0 1rem;
  text-decoration: none;
}

.captcha-group {
  display: flex;
  gap: 33px;
  align-items: center;
  margin-bottom: 54px;
}

.captcha-image {
  width: 400px;
  height: auto;
}

.refresh-icon i {
  font-size: 1.5rem;
}

.captcha-image img {
  width: 100%;
}

.form-margins {
  width: 100%;
  margin-left: 6rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #15336c;
  color: #fff;
  font: 500 24px 'Anek Latin', sans-serif;
  border: none;
  border-radius: .375rem;
  cursor: pointer;
}

.login-icon {
  margin-right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1366px) {
  .homeguard-logo {
    width: 80px;
    height: auto;
  }

  .organization-name {
    font: 600 27px / 35px 'Anek Latin', sans-serif;
  }

  .login-form {
    max-width: 400px;
    margin-right: 4rem;
  }

  .input-group input {
    padding: 1rem;
  }

  .login-button {
    padding: 1rem;
  }

  .form-margins {
    margin-left: 4rem;
  }

  .recruitment-title {
    font-size: 1.8rem;
  }

  .apply-button {
    font-size: 18px;
  }

  .apply-text {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {

  .calendar-icon {
    width: 18px;
    height: auto;
  }

  .date-item {
    gap: 7px;
  }

  .download-link {
    gap: 10px;
  }

}


@media (max-width: 1024px) {

  .login-content {
    gap: 0rem;
  }

  .form-margins {
    margin-left: 3rem;
  }

  .recruitment-title {
    font-size: 1.3rem;
  }

  .recruitment-info {
    padding: 1.5rem;
  }

  .login-form {
    max-width: 370px;
    margin-right: 5rem;
  }

  .apply-text {
    font-size: 16px;
  }

  .apply-button {
    padding: 12px 42px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .login-page {
    padding: 20px;
  }

  .login-content {
    flex-direction: column;
  }

  /* .advertisement-container {
    margin-top: 40px;
  } */

  .recruitment-info {
    padding: 24px 20px;
  }

  .apply-button {
    padding: 12px 20px;
  }

  .login-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .additional-logo {
    align-self: flex-end;
  }

  .login-form {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .login-form {
    max-width: 100%;
    margin-right: 0;
  }

  .form-margins {
    margin-left: 0;
    margin: 2rem 2rem 2rem;
  }

  .captcha-image {
    width: 315px;
  }
}

@media (max-width: 576px) {
  .form-margins {
    margin: 0;
  }

  .login-section {
    padding-bottom: 1.2rem;
  }

  .advertisement-container .advertisement-content {
    margin: 1.5rem;
    width: 100%;
  }

  .recruitment-info {
    background-color: #bc9b42d6;
  }

  .login-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .recruitment-title {
    font-size: 1.5rem;
  }

  .recruitment-details {
    display: block;
  }

  .recruitment-details .custom-border {
    display: none;
  }

  .recruitment-details .download-section {
    width: 100%;
    margin-bottom: 2rem;
  }

  .apply-section {
    width: 100%;
  }

  .advertisement-container {
    margin-top: 0;
  }
}